<div class="CSSTableGenerator CSSTableGeneratorPadded">
<%= datagrid_form_for @grid, :method => :get, :url => probes_path %>

<%= paginate(@assets, :window => 10, :outer_window => 3) %>
<%= datagrid_table @grid, @assets %>
<%= paginate(@assets, :window => 10, :outer_window => 3) %>
</div>
